.card{
  background-color: #1ca8b2;   
  padding: 2px  ;
  text-align: center;
  border: 3px solid rgb(98, 0, 128);
}
.card-body,  .image-container  {
  
  height: 200px;
  width: 200px;
} 
.image-container{  
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

p,h1{
  margin: 0px;
}

